body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-color: #5e4d77;
}

@media (max-width: 1200px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
}
